
html, body, #root {
    height: 100%;
    margin: 0;
    --brown: #bc986a;
    --beige: #e2cca8;
    --dark-text: #6b4f2a;
    --white: #ffffff;
}

.body {
    background-color: #f5eee0;
    margin: 0;
    font-family: 'Arial', sans-serif;
    /* حذف الـ flex من هنا لضمان عدم تداخل التنسيقات مع الصفحات الأخرى */
    background-color: #f5eee0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    padding-top: 5px;
}

.container {
    position: relative;
    width: 800px;
    height: 480px;
    background-color: var(--beige);
    border: 1px solid #333;
    overflow: hidden;
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
}

/* الطبقة الخلفية للحقول */
.forms-bg-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}

.form-panel {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px;
    z-index: 1;
}

.input-group {
    background: var(--white);
    width: 150px;
    padding: 12px 18px;
    margin: 10px 0;
    border-radius: 25px;
    display: flex;
    align-items: center;
    border: 1px solid rgba(0,0,0,0.1);
}

.input-group input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 14px;
}

.input-group i { color: #555; margin-left: 10px; }

/* الجزء العلوي المتحرك */
.overlay-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 10;
}

/* الحركة عند النقر */
.container.active .overlay-container {
    transform: translateX(100%);
}

.overlay {
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    background: var(--brown);
    transition: transform 0.6s ease-in-out;
    /* رسم الميلان باستخدام clip-path */
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
}

.container.active .overlay {
    transform: translateX(50%);
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
}

.overlay-left, .overlay-right {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.6s ease-in-out;
}

.overlay-right { right: 0; }

/* العناوين الضخمة */
.big-title {
    font-size: 50px;
    color: var(--dark-text);
    margin: 0;
    text-shadow: 2px 2px 0px rgba(255,255,255,0.3);
}
p{
    color: #6b4f2a;
}
/* الأزرار */
.btn {
    cursor: pointer;
    border-radius: 25px;
    padding: 10px 40px;
    font-size: 16px;
    transition: 0.3s;
}

.action-btn { background: var(--brown); color: var(--white); border: 1px solid #333; }
.toggle-btn { background:  #e2cca8; border: 1px solid var(--dark-text); color: var(--dark-text); margin-top: 20px; }

.forgot-link { font-size: 12px; color: var(--dark-text); text-decoration: none; margin-bottom: 10px; }